@page
@model AuthorizeModel

@{
    ViewData["Title"] = "Authorize";
}

<div class="text-center my-lg-5">
    <h1 class="display-6">Complete your profile</h1>
</div>

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.AlumniId"></label>
                <input asp-for="Input.AlumniId" value="@Model.AlumniId" class="form-control"/>
                <span asp-validation-for="Input.AlumniId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Organisation"></label>
                <input asp-for="Input.Organisation" class="form-control" />
                <span asp-validation-for="Input.Organisation" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="username" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Finish</button>
        </form>
    </div>
    <div class="col-8 d-none d-md-block text-center">
        <img src="~/img/corporate_unlocked.svg"height="500" />
    </div>
</div>

