@page "/applicant"
@attribute [Authorize(Roles = "Applicant")]

@inject UserManager<JobProfile> userManager
@inject JobApplicationService jobApplicationService

<div class="text-center my-5">
    <h1 class="display-6">Your Applications</h1>
</div>

@if (loading)
{
    <Loader />
}
else
{
    <div class="my-5 alert alert-info">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile">Edit Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" target="_blank" href="/resume/@user.Id">View Profile</a>
            </li>
        </ul>
    </div>

    <div>
        @if (jobApplications.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Job Name</th>
                        <th>Job Sector</th>
                        <th>Job Location</th>
                        <th>Application Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in jobApplications)
                    {
                        <tr>
                            <td>@application.JobListing.JobTitle</td>
                            <td>@application.JobListing.JobSector</td>
                            <td>@application.JobListing.JobLocation</td>
                            <td>@application.ApplicationDate</td>
                            <td>
                                @if (application.ApplicationApproved)
                                {
                                    <span class="badge bg-success">
                                        Approved <span class="oi oi-circle-check"></span>
                                    </span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">
                                        Approval Pending <span class="oi oi-reload"></span>
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <NoData />
        }
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool loading = false;

    private JobProfile user;
    private IEnumerable<JobApplication> jobApplications;


    protected override async Task OnInitializedAsync()
    {
        loading = true;

        user = await userManager.GetUserAsync((await authenticationStateTask).User);
        jobApplications = await jobApplicationService.FindJobApplicationsByUserIdAsync(user.Id);

        loading = false;
    }
}
