@page "/"

<div class="cover">
    <div class="row">
        <div class="col my-auto">
            <h1 class="display-5">Find your Dream Job</h1>
        </div>
        <div class="col d-none d-md-block cover-image">
            <img class="responsive" src="img/illustration.png" height="450" />
        </div>
    </div>
</div>

<JobSearch />