@page "/"

<div class="cover-card">
    <div class="cover">
        <div class="row">
            <div class="col my-auto">
                <h1 class="display-5">Find your Dream Job</h1>
            </div>
            <div class="col d-none d-md-block cover-image">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_5i9kyklo.json"
                    background="transparent" speed="0.8"
                    style="width: 400px; height: 400px;position:relative;right:-70px;" loop autoplay>
                </lottie-player>
            </div>
        </div>
    </div>
</div>

<JobSearch />

<div class="cover-card">
    <div class="cover2">
        <div class="text">
            <h2 style="margin-bottom:20px;">Video Job Ads: Our top picks</h2>
            <p style="margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequatur
                quae fugiat vel maxime, dolor
                error eius id ad incidunt provident accusantium cupiditate dolore sed perferendis quas nostrum </p>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Resume Assesments</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Job Fit Scoring</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Unlimited Job Posts</h5>
            </div>
        </div>
        <video width="420" height="340" controls style="z-index: 1;position:relative;top:20px;">
            <source src="video/stock-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>