@page "/"

<JobSearch />

<div class="cover-card">
    <div class="cover2">
        <div class="text">
            <h2 style="margin-bottom:20px;">Video Job Ads: Our top picks</h2>
            <p style="margin-bottom: 30px;">
                Basic jobs based on the data provided under our top pick services.
            </p>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Resume Assesments</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Job Fit Scoring</h5>
            </div>
            <div style="display:flex;margin:5px;">
                <img src="img/right-arrow.png" alt="" style="height: 25px;margin-right:10px;">
                <h5>Unlimited Job Posts</h5>
            </div>
        </div>
        <div class="ratio ratio-16x9">
        <iframe width="600" src="https://www.youtube.com/embed/VR0g6dR96Qs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            </div>
    </div>
</div>
