@inject NavigationManager navigationManager

<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-4 px-3">
                <img src="@navigationManager.BaseUri/img/ascpc.jpg" />
                <p class="my-5">
                    HBTU East Campus, Nawabganj , Kanpur, Uttar Pradesh 208002
                </p>
            </div>
            <div class="col-6 px-2">
                <h3>About</h3>
                <p class="mt-3">
                    It is a matter of great pride for us that Harcourt Butler Technological Institute (H.B.T.I),
                    Kanpur is our alma mater. This Institute has a glorious history and has always been in the
                    forefront for technological developments and growth of industries in the country since its
                    inception.
                </p>
            </div>
            <div class="col-2 px-3">
                <h3 class="mb-3">Social Media</h3>
                <div class="mt-3">
                    <a href="/" class="mx-1">
                        <img src="img/icons/facebook.svg" width="30" />
                    </a>
                    <a href="/" class="mx-1">
                        <img src="img/icons/twitter.svg" width="30" />
                    </a>
                    <a href="/" class="mx-1">
                        <img src="img/icons/instagram.svg" width="30" />
                    </a>
                    <a href="/" class="mx-1">
                        <img src="img/icons/youtube.svg" width="30" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
