@namespace JobPortal.Shared


<div class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <AuthorizeView>
                <Authorized>
                    @if (user.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin Manager</a>
                        </li>
                    }
                    @if (user.IsInRole("Employer"))
                    {
                        <li class="nav-item">
                            <a href="/employer" class="nav-link">Job Manager</a>
                        </li>

                    }
                    @if (user.IsInRole("Applicant"))
                    {
                        <li class="nav-item">
                            <a href="/applicant" class="nav-link">Applicant Manager</a>
                        </li>
                    }
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>

    <div class="dropdown">
        <a class="btn btn-light btn-sm dropdown-toggle" style="white-space: nowrap; margin-left: 1.5rem;" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <AuthorizeView>
                <Authorized>
                    <li><a class="dropdown-item btn-sm" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item btn-sm" href="Identity/Account/Manage">Manage</a></li>
                    <li>
                        <form method="post" action="Identity/Account/LogOut">
                            <button class="dropdown-item btn-sm" type="submit">Log out</button>
                        </form>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li><a class="dropdown-item btn-sm" href="Identity/Account/Register">Register</a></li>
                    <li><a class="dropdown-item btn-sm" href="Identity/Account/Login">Log in</a></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;
    }
}
